body{
  margin:0px;
  font-family: 'Dancing Script', cursive;
}

p{
  font-size:15px;
}

#bg{
  width: 70%;
  float:left;
  /*background-color:azure;*/
}

#header{
  height:85px;
  width:100%;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#deb58e;
}

.item {
  width: 300px;
  height: 300px;
  margin: 30px;
  padding: 10px;
  background-color:#faebd7;
  display: inline-block;
}

.buttons{
  font-family: 'Dancing Script', cursive;
  font-size:13px;
  background-color:#ebcca4;
  opacity: 0.6;
  cursor: pointer;
}

.buttons:hover{
  opacity: 1;
}

#runningorder{
  width:25%;
  float:right;
  margin-top:30px;
  margin-right:5%;
  padding-bottom:30px;
  background-color:#faebd7;
}

#order{
  width: 70%;
  background-color:#faebd7;
  margin-top: 3%;
  padding: 3%;
}